{% extends "dlf-base.html" %}
{% from 'macros.html' import render_form %}

{% from "./govuk-jinja-components/details/macro.jinja" import govukDetails -%}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block beforeContent %}
{{ super()}}
<a href="{{ url_for('frontend.breakdown') }}" class="govuk-back-link">Back to full list</a>
{% endblock %}

{% block content %}

{%- set development_mode = request.args.get('development_mode') -%}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">Update brownfield land register URL for</span>
		<h1 class="govuk-heading-xl">
		  {{ local_authority_id | map_la_code_to_name }}
		</h1>
	</div>
</div>

<div class="app-prose-scope">
	<form method="POST" action="{{ url_for('frontend.change_url', local_authority_id=local_authority_id) }}">
		{{ form.csrf_token }}
		<ul class="govuk-list">
			{{ render_form(form.current_url) }}
			{{ render_form(form.register_url) }}
			{{ render_form(form.entry_date) }}
			{{ render_form(form.end_date) }}
		</ul>
		<input type="submit" value="Submit" class="govuk-button">
	</form>
</div>


{% endblock %}

{% block bodyEnd %}

{% endblock %}
