{% extends "dlf-base.html" %}

{% from "./govuk-jinja-components/details/macro.jinja" import govukDetails -%}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block beforeContent %}
{{ super()}}
<a href="{{ url_for('frontend.breakdown') }}" class="govuk-back-link">Back to full list</a>
{% endblock %}

{% block content %}

{%- set development_mode = request.args.get('development_mode') -%}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">Validation result</span>
		<h1 class="govuk-heading-xl">
		  {{ data.organisation | map_la_code_to_name }}
		</h1>

		<p class="govuk-body-l lead-para">The brownfield land register for {{ data.organisation | map_la_code_to_name }} contains errors.</p>
	</div>
</div>
 <h1>
     Hellooooooo
 </h1>

{% endblock %}

{% block bodyEnd %}

{% endblock %}
