{% extends "dlf-base.html" %}

{% from "./govuk-jinja-components/details/macro.jinja" import govukDetails -%}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block beforeContent %}
{{ super()}}
{% endblock %}

{% block content %}

{%- set development_mode = request.args.get('development_mode') -%}

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Update complete
  </h1>
  <div class="govuk-panel__body">
    The url for
      <strong>{{ local_authority_id | map_la_code_to_name }}'s</strong>
      brownfield land register has been updated to
      <br><strong style="overflow-wrap:break-word;">{{ url }}</strong>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h1 class="govuk-heading-xl">What happens next</h1>

<p class="govuk-body">
    This url has been added to the brownfield land register.
    Over then next 24 hours, further checks will be done to ensure the content of the file at this url is in the correct format.
    You will then be able to this website to check if your input has met government requirements.
</p>


<p class="govuk-body">
  <a href="{{ url_for('frontend.breakdown') }}" class="govuk-link">Back to full list</a>
</p>


{% endblock %}

{% block bodyEnd %}

{% endblock %}